*{
  margin: 0;
  padding: 0;
  background-color: pink;
  font-family: sans-serif;
  box-sizing: border-box;
  outline: none;
}
.Container{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculation{
  background-color: white;
  padding: 15px;
  border-radius: 30px;
  box-shadow:inset 5px 5px 12px white,       5px 5px 12px white;
  display: grid;
  grid-template-columns: repeat(4,68px);
}
input{
  grid-column: span 4;
  height: 70px;
  width: 260px;
  box-shadow: inset -5px -5px 12px whitesmoke,    inset 5px 5px 12px whitesmoke;
  border: none;
  border-radius: 30px;
  color: black;
  font-size: 50px;
  text-align: end;
  padding: 20px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: white;
}
button{
  height: 48px;
  width: 50px;
  border-radius: 50%;
  color: blue;
  font-size:16px;
  box-shadow:  -5px -5px -12px black,    5px  5px  12px black;
 
  border: none;
  margin: 8px;
}
.equal{
  background-color: orange;
  color: #000;
  font-size: 30px;
  box-shadow: inset -5px -5px -12px white,  inset  5px  5px  12px whitesmoke;
  border-radius: 100px;
}
  